[project]
	description = My Test project
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/mastangoud20
[access "refs/for/refs/*"]
	read = group user/mastangoud20
	push = group user/mastangoud20
	label-Code-Review = -2..+2 group user/mastangoud20
	label-Verified = -1..+1 group user/mastangoud20
	rebase = group user/mastangoud20
	removeReviewer = group user/mastangoud20
	submit = group user/mastangoud20
[access "refs/heads/*"]
	read = group user/mastangoud20
	create = group user/mastangoud20
	push = +force group user/mastangoud20
	pushMerge = group user/mastangoud20
[access "refs/tags/*"]
	push = group user/mastangoud20
	push = +force group user/mastangoud20
